@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }
  body::-webkit-scrollbar {
    width: 13px;
    /* Ancho de la barra de desplazamiento */ }
  body::-webkit-scrollbar-track {
    background-image: linear-gradient(39deg, #000601, #0d3618, #046523, #009928, #00cf23, #009928, #046523, #0d3618, #000601);
    /* Color de fondo de la pista */ }
  body::-webkit-scrollbar-thumb {
    background-color: #6df491f9;
    /* Color del mango de la barra de desplazamiento */
    border-radius: 8px; }

@font-face {
  font-family: 'h1';
  src: url("../../resources/SignalineScript-DO15d.ttf") format("truetype"); }

.parallax-container {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  /*parallax effects:  */
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1612692177120-847e15b2815d?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  text-align: center;
  font-family: "Josefin Sans", sans-serif; }
  .parallax-container h1 {
    font-family: h1;
    padding-top: 100px;
    font-weight: 100;
    text-align: center;
    font-size: 210px;
    background-image: linear-gradient(to bottom, #05ff2f, #07c63a, #02852b, #008225, #022708);
    -webkit-background-clip: text;
    /* Para WebKit browsers (Safari/Chrome) */
    background-clip: text;
    /* Para otros navegadores */
    color: transparent;
    /* Ocultar el texto original */ }
  .parallax-container h2 {
    color: #e4ebe0;
    font-size: 30px;
    font-weight: 400;
    padding-top: 30px; }
  .parallax-container h4 {
    color: rgba(255, 255, 255, 0.644);
    font-size: 20px;
    padding-top: 40px; }

.header {
  width: 100%;
  overflow: hidden;
  position: relative;
  /* Importante para controlar el tamaño de la imagen */
  height: 40vh; }
  .header img {
    width: 100%;
    /* La imagen ocupa todo el ancho del contenedor */
    height: auto;
    /* La altura se ajusta automáticamente para mantener la proporción */
    position: absolute;
    /* Posiciona la imagen absolutamente dentro del contenedor */
    top: 0;
    /* La imagen comienza desde la parte superior */
    left: 0;
    /* La imagen comienza desde la parte izquierda */ }

main {
  width: 100vw;
  overflow: hidden; }
  main .parallax-container2 {
    background-image: linear-gradient(to right bottom, #1bef1f, #4ae84b, #65e267, #7bda7e, #8ed292);
    box-shadow: inset #046523 -9px 6px 20px 3px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 3px;
    padding: 10px 10px; }
    main .parallax-container2 .card {
      width: 300px;
      height: auto;
      box-shadow: 0px 1px 20px 2px #023d0c;
      margin-top: 3px;
      margin-left: 20px;
      margin-bottom: 4px;
      padding-bottom: 4px;
      border-radius: 10px;
      transition: all 0.4s ease-in-out; }
      main .parallax-container2 .card:hover {
        transform: scale(1.05);
        box-shadow: 1px 1px 16px 10px #025710; }
      main .parallax-container2 .card img {
        width: 100%;
        border-radius: 10px; }
      main .parallax-container2 .card p {
        font-family: "Josefin Sans", sans-serif;
        font-size: 18px;
        color: black;
        padding: 5px 23px;
        line-height: 24px; }
      main .parallax-container2 .card button {
        display: inline-block;
        border-radius: 4px;
        background-image: linear-gradient(to right bottom, #00cf23, #009928, #046523, #0d3618, #000601);
        border: none;
        border-radius: 7%;
        color: #FFFFFF;
        text-align: center;
        font-size: 17px;
        font-family: "Josefin Sans", sans-serif;
        padding: 16px 23px;
        width: 197px;
        box-shadow: 0px 1px 3px 3px #02500e;
        transition: width 0.5s;
        cursor: pointer;
        margin: 5px; }
        main .parallax-container2 .card button span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s; }
          main .parallax-container2 .card button span:after {
            content: '+';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -15px;
            transition: 0.5s; }
        main .parallax-container2 .card button:hover {
          transition: background-image 0.5s, box-shadow 0.5s; }
        main .parallax-container2 .card button:hover span {
          padding-right: 20px; }
          main .parallax-container2 .card button:hover span:after {
            opacity: 1;
            right: 0; }
  main .tupedido {
    position: relative;
    /* Importante para controlar el posicionamiento */
    width: 100vw;
    overflow: hidden;
    min-height: 60vh;
    border-radius: 10px;
    box-shadow: 2px -6px 14px 3px #046523;
    padding: 20px;
    font-family: "Josefin Sans", sans-serif; }
    main .tupedido img {
      position: absolute;
      /* Posiciona la imagen absolutamente dentro del contenedor */
      width: 100%;
      /* La imagen ocupa todo el ancho del contenedor */
      height: 100%;
      /* La imagen ocupa todo el alto del contenedor */
      object-fit: cover;
      /* Ajusta la imagen para cubrir completamente el contenedor */
      top: 0;
      /* La imagen comienza desde la parte superior */
      left: 0;
      /* La imagen comienza desde la parte izquierda */
      z-index: -1;
      /* Coloca la imagen detrás de los otros elementos */ }
    main .tupedido h1 {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center; }
    main .tupedido table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px; }
      main .tupedido table th,
      main .tupedido table td {
        padding: 10px;
        text-align: left; }
      main .tupedido table th {
        background-color: #f1f1f14e; }
      main .tupedido table tfoot td {
        font-weight: bold; }
    main .tupedido .botones {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      main .tupedido .botones button {
        border-radius: 4px;
        background-image: linear-gradient(to right bottom, #00cf23, #009928, #046523, #0d3618, #000601);
        color: #FFFFFF;
        text-align: center;
        font-size: 17px;
        padding: 16px 23px;
        margin: 5px 20px;
        width: 197px;
        box-shadow: 0px 1px 3px 3px #02500e;
        transition: width 0.5s;
        cursor: pointer; }
        main .tupedido .botones button:hover {
          background-image: linear-gradient(to top left, #00cf23, #009928, #046523, #0d3618, #000601); }

.footer {
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1612692177120-847e15b2815d?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  box-shadow: #046523 -9px 6px 20px 3px inset;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer h1 {
    font-family: h1;
    padding-top: auto;
    margin-bottom: 0;
    font-weight: 100;
    text-align: center;
    font-size: 210px;
    background-image: linear-gradient(to bottom, #05ff2f, #07c63a, #02852b, #008225, #022708);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer ul li {
      margin-top: 50px;
      margin-bottom: 130px;
      padding: 0; }
      .footer ul li a {
        text-decoration: none;
        font-size: 50px;
        margin: 50px;
        color: rgba(255, 255, 255, 0.644);
        transition: color 0.2s ease-in-out;
        position: relative; }
        .footer ul li a:hover {
          color: #19ef52; }
          .footer ul li a:hover .tooltip {
            visibility: visible;
            opacity: 1; }
        .footer ul li a .tooltip {
          color: #000;
          padding: 6px 10px;
          width: 100px;
          border-radius: 5px;
          opacity: 0;
          background-color: #1da319;
          visibility: hidden;
          font-size: 14px;
          transition: all 0.3s ease;
          text-align: center;
          position: absolute;
          top: calc(100% + 5px);
          left: 50%;
          transform: translateX(-50%); }
  .footer .p-footer {
    width: 100vw;
    position: relative;
    font-size: 16px;
    margin-bottom: 20;
    padding-bottom: 20;
    color: #e4ebe0;
    text-align: center;
    padding: 10px 0; }
    .footer .p-footer a {
      color: #e4ebe0;
      text-decoration: none; }
      .footer .p-footer a:hover {
        color: #17c807; }
