.parallax-container {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    /*parallax effects:  */
    background-attachment: fixed;

    background-image: url(https://images.unsplash.com/photo-1612692177120-847e15b2815d?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;

   .logo{
    padding-top: 50px;
   }

    h2 {
        color: rgb(228, 235, 224);
        font-size: 30px;
        font-weight: 400;
        padding-top: 30px;
    }

    h4 {
        color: rgba(255, 255, 255, 0.644);
        font-size: 20px;
        padding-top: 40px;
    }
}

.header {
    width: 100%;
    overflow: hidden;
    position: relative; /* Importante para controlar el tamaño de la imagen */
    height: 300px;
    img {
        z-index: 0;
        width: 100%; /* La imagen ocupa todo el ancho del contenedor */
        height: 300px; /* La altura se ajusta automáticamente para mantener la proporción */
        position: absolute; /* Posiciona la imagen absolutamente dentro del contenedor */
        top: 0; /* La imagen comienza desde la parte superior */
        left: 0; /* La imagen comienza desde la parte izquierda */
    }
}


@media screen and (max-width: 1000px) {

    .parallax-container{

        .logo{
         width: 500px;
        }
    }
}