main {
    width: 100vw;
    overflow: hidden;

    .parallax-container2 {
        background-image: linear-gradient(to right bottom, #1bef1f, #4ae84b, #65e267, #7bda7e, #8ed292);
        box-shadow: inset rgb(4, 101, 35) -9px 6px 20px 3px;
        display: grid;
        grid-template-columns: repeat(4, 1fr); // Puedes ajustar el número de columnas según sea necesario
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100vw;
        gap: 3px; // Espacio entre las tarjetas
        padding: 10px 10px; // Ajusta el relleno del contenedor según sea necesario


        .card {
            width: 300px; // O ajusta el tamaño según lo necesites
            height: auto; // O ajusta la altura según lo necesites
            box-shadow: 0px 1px 20px 2px rgb(2, 61, 12); // Añade sombra según sea necesario
            margin-top: 3px;
            margin-left: 20px;
            margin-bottom: 4px;
            padding-bottom: 4px;

            border-radius: 10px; // Ajusta el radio de borde según sea necesario
            transition: all 0.4s ease-in-out; // Agrega una transición al hacer hover

            &:hover {
                transform: scale(1.05); // Aumenta el tamaño al hacer hover
                box-shadow: 1px 1px 16px 10px rgb(2, 87, 16); // Añade sombra según sea necesario
            }

            img {
                width: 100%;
                border-radius: 10px; // Ajusta el radio de borde según sea necesario
            }

            p {

                font-family: "Josefin Sans", sans-serif;
                font-size: 18px;
                color: rgb(255, 255, 255);
                padding: 5px 23px;
                line-height: 24px;
            }

            button {
                display: inline-block;
                border-radius: 4px;
                background-image: linear-gradient(to right bottom, #00cf23, #009928, #046523, #0d3618, #000601);
                border: none;
                border-radius: 7%;
                color: #FFFFFF;
                text-align: center;
                font-size: 17px;
                font-family: "Josefin Sans", sans-serif;
                padding: 16px 23px;
                width: 197px;
                box-shadow: 0px 1px 3px 3px #02500e;
                transition: width 0.5s;
                cursor: pointer;
                margin: 5px;

                span {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    transition: 0.5s;

                    &:after {
                        content: '+';
                        position: absolute;
                        opacity: 0;
                        top: 0;
                        right: -15px;
                        transition: 0.5s;
                    }
                }

                &:hover {
                    transition: background-image 0.5s, box-shadow 0.5s;
                }

                &:hover span {
                    padding-right: 20px;

                    &:after {
                        opacity: 1;
                        right: 0;
                    }
                }
            }

        }

    }


    .tupedido {
        width: 100vw;
        overflow: hidden;
        min-height: 60vh;
        background-image: url(../../multimedia/tupedido.png);
        background-repeat: no-repeat;
        background-size: cover;
        /* Ajusta el tamaño de la imagen */
        box-shadow: 2px -6px 14px 3px #046523;
        padding: 20px;
        border-radius: 10px;

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
            font-family: "Josefin Sans", sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            font-family: "Josefin Sans", sans-serif;

            th,
            td {
                padding: 10px;
                text-align: left;
            }

            th {
                background-color: #f1f1f14e;
            }

            tfoot td {
                font-weight: bold;
            }
        }

        .botones {
            display: flex;
            flex-direction: row;
            justify-content: space-around;


            button {
                border-radius: 4px;
                background-image: linear-gradient(to right bottom, #00cf23, #009928, #046523, #0d3618, #000601);
                border-radius: 7%;
                color: #FFFFFF;
                text-align: center;
                font-size: 17px;
                font-family: "Josefin Sans", sans-serif;
                padding: 16px 23px;
                margin: 5px 20px;
                width: 197px;
                box-shadow: 0px 1px 3px 3px #02500e;
                transition: width 0.5s;
                cursor: pointer;
                margin: 5px;

                &:hover {
                    background-image: linear-gradient(to top left, #00cf23, #009928, #046523, #0d3618, #000601);
                }
            }
        }
    }
}