* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    
    &::-webkit-scrollbar {
        width: 13px;
       
    }

    &::-webkit-scrollbar-track {
        background-image: linear-gradient(39deg,#000601, #0d3618, #046523, #009928, #00cf23, #009928, #046523, #0d3618, #000601);
       
    }

    &::-webkit-scrollbar-thumb {
        background-color: #6df491f9;
       
        border-radius: 8px;
    }
}